<form method="POST" action="/contact" v-name="contact" v-version="0.1" v-cache="true">
    {{#if validatedData.isError}}
    <div class="errors">
        <h3>The following errors occured</h3>
        <ul>
            {{#each validatedData.inputs}} {{#each errors}}
            <li>{{this}}</li> {{/each}} {{/each}}
        </ul>
    </div>
    {{/if}} {{#if error}}
    <h3>Something went wrong with sending the email, please try again.</h3>
    {{/if}}
    <fieldset class="flex">
        <input placeholder="What is your name?" name="name" type="text" v-min="2" v-max="64" v-map="true" value="{{validatedData.inputs.name.value}}"
        />
        <textarea placeholder="That 's a lovely name. You can write your message here :)" name="message" v-min="8" v-max="512" v-map="true">{{validatedData.inputs.message.value}}</textarea>
        <input placeholder="Just need your email adress and you’re all set!" name="email" type="email" v-min="6" v-max="128" v-map="true"
            value="{{validatedData.inputs.email.value}}" />
    </fieldset>
    <button class="btn">send message</button>
</form>