<form id="contactForm" method="POST" action="/contact" v-name="contact" v-version="0.1" v-cache="true">
    <div class="loading-info" id="load">
        <div>
            <img src="static/img/smile.svg" alt="Kind and patient emoji">
            <p>Sending your message, one moment please.</p>
            <p id="message"></p>
        </div>
    </div>
    <div class="loading-info" id="success">
        <div class="container">
            <img src="static/img/correct.svg" alt="Green checkmark">
            <p>Message was succesfully sent, I will reply as soon as possible. Have a nice day!</p>
            <p id="message"></p>
        </div>
    </div>
    <div class="loading-info" id="error">
        <div class="container">
            <a href="" class="close">Close</a>
            <img src="static/img/shocked.svg" alt="Confused emoji">
            <p><b>Well that's embarassing</b>...</p>
            <p id="message"></p>
        </div>
    </div>
    {{#equal validatedData.isValidationError false}}
    <div class="status success">
        <h3>Your message was sent successfully</h3>
        <p>I will reply as soon as possible. Have a nice day!</p>
    </div>
    {{/equal}} {{#if validatedData.isValidationError}}
    <div class="status error">
        <h3>The following errors occured</h3>
        <ul>
            {{#each validatedData.inputs}} {{#each errors}}
            <li>{{this}}</li> {{/each}} {{/each}}
        </ul>
    </div>
    {{/if}} {{#if error}}
    <h3>Something went wrong with sending the email, please try again.</h3>
    {{/if}}
    <fieldset class="flex">
        <input placeholder="What is your name?" name="name" type="text" minlength="2" maxlength="64" v-map="true" value="{{validatedData.inputs.name.value}}"
            required/>
        <textarea placeholder="Message" name="message" minlength="16" maxlength="512" v-map="true" required>{{validatedData.inputs.message.value}}</textarea>
        <input placeholder="Email address" name="email" type="email" minlength="6" maxlength="128" v-map="true" value="{{validatedData.inputs.email.value}}"
        />
    </fieldset>
    <button class="btn submit">send message</button>
</form>