<section class='featured'>
    <img src="{{img}}" alt=" ">
    <div>
        <div class="container">
            <h3 class="award">{{award}}</h3>
            <h1>{{title}}</h1>
            <p>A world-first project for the minor web development that focused heavily on accessibility prototypes</p>
            <a class="btn" href="{{href}}">Project details</a>
        </div>
    </div>
</section>