<header class="home">
    <div class="container grid">
        <img class="offsetBackground" src="static/img/baskager-small.jpg" alt="Picture of Bas Kager">
        <div>
            <h1>Bas Kager</h1>

            <p>
                Software engineering student at The University of Applied Sciences Leiden. Currently working at
                <a href="http://hyberink.nl">Hyberink</a>, a hybrid publishing and education platform.
            </p>
            <div class="buttons">
                <a class="btn cta first" href="/contact">Contact me</a>
                <a class="btn cta" href="http://linkedin.com/in/sebastiaan-kager">LinkedIn profile</a>
            </div>
        </div>
    </div>
</header>