<header>
    <div class="container grid">
        <img class='offsetBackground' src='static/img/baskager.jpg' alt='Picture of Bas Kager'>
        <div>
            <h1>Bas Kager</h1>
            <p>
                A full-stack software engineer that loves to play with code, databases, hardware, linux, webservers and web design. {{!--
                <br/>
                <br/> Currently working at
                <a href="http://hyberink.nl">Hyberink</a>, a hybrid publishing platform built on Node and the Phalcon PHP framework. --}}
            </p>
        </div>
    </div>
</header>