<nav>
    <div class="container grid">
        <ul class="flex">
            <li>
                <a class="{{#equal pageName 'home'}}current{{/equal}}" href="/">home</a>
            </li>
            <li>
                <a class="{{#equal pageName 'portfolio'}}current{{/equal}}" href="/portfolio">portfolio</a>
            </li>

            <li>
                <a class="{{#equal pageName 'contact'}}current{{/equal}}" href="/contact">contact</a>
            </li>
        </ul>
    </div>
</nav>