<div class='projectListContent' id='projectListContent'>
    <h2></h2>
    <blockquote class='fancy'></blockquote>
    <ul class="center flex thumbnail-row">
        {{> thumbnail 
            id="project1"
        }}

        {{> thumbnail 
            id="project2"
        }}
    </ul>
</div>