<section class="skill-chart">
    <h2>{{title}}</h2>
    <div class="bar">
        <a href="/portfolio/programming">
            <div class="progress" style="width:90%">
                <span class="label">Programming</span>
            </div>
            <span class="tip">Go to programming portfolio</span>
        </a>
    </div>
    <ul class="skill-tags flex">
        <li>PHP</li>
        <li>Javascript</li>
        <li>NodeJS</li>
        <li>JAVA</li>
    </ul>

    <div class="bar">
        <a href="/portfolio/databases">
            <div class="progress" style="width:75%">
                <span class="label">Databases</span>
            </div>
            <span class="tip">Go to database portfolio</span>
        </a>
    </div>
    <ul class="skill-tags flex">
        <li>SQL</li>
        <li>NoSQL</li>
        <li>Graph</li>
        <li>Time-series</li>
    </ul>

    <div class="bar">
        <a href="/portfolio/design">
            <div class="progress" style="width:60%">
                <span class="label">Web Design</span>
            </div>
            <span class="tip">Go to web design portfolio</span>
        </a>
    </div>
    <ul class="skill-tags flex">
        <li>HTML</li>
        <li>CSS</li>
        <li>Wireframing</li>
        <li>University minor</li>
    </ul>
</section>