<li>
    <img src='https://www.ideatheorem.com/wp-content/uploads/2018/01/shapes-02.jpg' alt=" ">
    <h3 id="title">{{title}}</h3>
    <a id='{{categorySlug}}' href='#projects/{{categorySlug}}'></a>
</li>