<li>
    <img src='http://smashinghub.com/wp-content/uploads/2013/06/flat-ui-design-inspiration-for-software-business.png' alt=" ">
    <h3 id="title">{{title}}</h3>
    <a id='{{categorySlug}}' href='#projects/{{categorySlug}}'></a>
</li>