<div class="thumbnail">
    <img alt='' src='{{img}}'>
    <a href='{{url}}' class='image-wrap'>
        <div class='caption'>
            <h3>{{title}}</h3>
            <p>
                {{description}}
            </p>
            <ul class='tags'>
                <li>Javascript</li>
                <li>Facial recognition</li>
                <li>API</li>
                <li class='year'>2018</li>
            </ul>
        </div>
    </a>
</div>