@keyframes offsetBackgroundAnimation {
  0% {
    box-shadow: 0px 0px 0px 0px #ff4d6177;
  }
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInBackgroundFromRight {
  0% {
    background-position: calc(50% - 2em) 50%;
    filter: opacity(0.9);
  }
  100% {
    background-position: center;
    filter: opacity(1);
  }
}
@keyframes slideInFromRightWithOffset {
  0% {
    opacity: 0;
    transform: translateX(2%);
    box-shadow: 0px 0px 0px 0px #ff4d6177;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
    transform: translateX(0);
  }
}
@keyframes fadeOutHalf {
  100% {
    opacity: 0.5;
  }
  0% {
    opacity: 0;
    transform: translateX(0);
  }
}
@keyframes fillProgress {
  0% {
    width: 30%;
  }
}
