.btn {
  display: inline-block;
  background: $btn-cta-background;
  border-radius: 2em;
  color: $btn-cta-foreground;
  border: 0;
  padding: 0.8em 0.8em;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.15s;
  cursor: pointer;
  &:hover:enabled,
  &:focus:enabled {
    background: $btn-cta-hover-background;
    color: $btn-cta-hover-foreground;
    transform: scale(1.1);
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:disabled {
    background: $btn-cta-disabled-background;
    color: $btn-cta-disabled-foreground;
    cursor: not-allowed;
  }
}
