form {
  box-sizing: border-box;
  overflow: auto;
  padding-bottom: 2em;

  input[type="text"],
  input[type="email"],
  textarea {
    margin: 1em;
    padding: 1em;
    animation: 0.4s ease-out 0s 1 offsetBackgroundAnimation;
    transition: box-shadow 0.3s, transform 0.2s;
    transform: none;
    opacity: 1;
    border: 1px solid $accent-color-alpha;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.618em;
    width: 90%;

    &:focus {
      transform: scale(1.04);
      box-shadow: -5px -5px 0px 0px $accent-color-alpha;
    }
  }
  ::placeholder {
    color: #000;
    opacity: 1;
  }
  textarea {
    resize: vertical;
    min-height: 10em;
  }
  button {
    margin-left: 1em;
  }
  .valid {
    box-shadow: -5px -5px 0px 0px $success-color !important;
  }
  .invalid {
    box-shadow: -5px -5px 0px 0px $warning-color !important;
  }
}
