nav {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  top: 0;
  background: white;
  border-bottom: 0.25em solid $shadow-color;
  height: 4em;
}
nav ul {
  list-style-type: none;
  list-style-image: none;
  grid-column: 6 / span 9;
  margin: 0;
  /* border-bottom: 0.4em solid #00000022; */
}
nav li {
  background: white;
}
nav a {
  font-size: 1.2rem;
  background: #fff;
  color: black;
  font-weight: 700;
  display: block;
  padding: 1em;
  border: 0;
  border-bottom: 0.25em solid $shadow-color;
  height: 1.35em;
}
nav .current {
  border-bottom: 0.25em solid $accent-color;
  color: $accent-color;
}
nav a:hover,
nav a:focus {
  color: $accent-color;
  background: #fff;
}
nav a:focus {
  background: $accent-color;
  color: #fff;
}
@media (max-width: 50em) {
  nav {
    bottom: 0;
    top: auto;
    background: #fff;
    border-top: 0.2em solid #00000044;
  }
  nav .grid {
    display: block;
  }
  nav .grid ul {
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }
}
