.projectDetail {
  .cta-box {
    width: 50%;
    margin: 0 auto;
  }
  .cta-box .btn {
    width: 50%;
  }
  .splitTwo section {
    margin-right: 2em;
  }
  .project-img {
    flex-basis: 3;
  }
  .project-skills {
    flex-basis: 2;
  }

  .suggestion {
    margin-top: 5em;
    .btn {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 12em;
    }
  }
}
@media (max-width: $breakpoint-medium) {
  .projectDetail {
    .cta-box {
      width: 75%;
    }
  }
}
@media (max-width: $breakpoint-small) {
  .projectDetail {
    .splitTwo {
      flex-direction: column;
    }
    .cta-box {
      width: 100%;
    }
  }
}
