.skills {
  box-sizing: border-box;
  overflow: hidden;
  /* background: #ff4d6111; */
  padding-bottom: 6em;
}
.skill-row {
  margin-top: 2em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.skill-row li {
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: wrap;
  margin: 0 2em;
  position: relative;
  background: #fff;
  box-shadow: -10px -10px 0px 0px #0085b677;
  border: 0.1em solid #00d49d77;
  transition: 0.2s;
  box-sizing: border-box;
}
.skill-row li:hover {
  /* transform: scale(1.05); */
  box-shadow: -5px -5px 0px 0px #0085b677;
}
.skill-row li:hover h3 {
  right: 16px;
}
/* .skill-row li:hover img {
  filter: brightness(100%);
} */

.skill-row li:hover a {
  width: 100%;
  right: 0;
}
.skill-row li h3 {
  transition: 0.2s;
  background: #0085b6;
  color: #fff;
  position: absolute;
  top: 16px;
  right: -16px;
  padding: 1em;
}
.skill-row li img {
  /* filter: brightness(90%); */
  transition: 0.2s;
  width: 100%;
  height: 100%;
}
.skill-row li a {
  top: 0;
  right: -16px;
  z-index: 1;
  font-size: 0;
  width: calc(100% + 16px);
  height: 100%;
  line-height: 0;
  position: absolute;
}