body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.flex {
    display: flex;
    flex-direction: row;
}
.row {
    max-width: 60em;
    margin: 0 auto;
}
.center {
    /* margin: 0 auto; */
}
header {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6b6b+0,556270+100 */
background: rgb(255,107,107); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,107,107,1) 0%, rgba(85,98,112,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,107,107,1) 0%,rgba(85,98,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,107,107,1) 0%,rgba(85,98,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b6b', endColorstr='#556270',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    box-sizing: border-box;
    overflow: auto;
    min-height: 30em;
    height: 80vh;
}
header img {
    display: block;
    padding-bottom: 2em;
    width: 200px;
    margin: 0 auto;
}
header > .row {
    padding-top: 6em;
}
header h1, header h2 {
    text-align: center;
    color: #FFF;
}
header h1 {
    font-size: 4em;
    padding: 0;
    margin: 0;
    font-weight: 300;
}
header h2 {
    opacity: 0.8;
}
nav {
    position: fixed;
    margin: 4em;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav a {
    display: block;
    line-height: 200%;
    margin-bottom: 1em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    font-size: 1.3em;
    width: 100%;
    border-bottom: 5px solid #FFF;
}
nav a:hover, nav a.current {
    color: #000;
    border-color: #000;
    background-position: left bottom;
    transition: 0.2s;
}
main {
    padding: 0 1em 0 1em;
    padding-bottom: 20em;
}
main h2 {
    display: inline-block;
    font-weight: 300;
    margin: 1em 2em 0em 0;
    line-height: 150%;
    font-size: 2.5em;
    color: #666;
}
main .introduction {
    margin-top: 1em;
    text-align: justify;
    font-size: 1.2em;
}
main .introduction img {
    flex-shrink: 2;
}
main .introduction p {
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 150%;
}
footer {
    background: #FF6B6B;
    height: 20em;
}
