{{> nav currentPage=pageName}} {{> header-small title=status.title summary="This page is not finished yet" }}
<main>
    <section class="container-small contact">
        <p>{{status.message}}</p>
    </section>
</main> {{> footer }}