{{> nav currentPage=pageName}} {{> header-small title=title}}
<main>
    <section class="container errorpage">
        <h3>This page was taken by Aliens!</h3>
        <img src="/static/img/404.png" alt="Page not found">
        <p>
            The occurance has been logged and will be reviewed shortly.
        </p>
    </section>
</main> {{> footer }}
<script src='/static/js/contact.js' type='text/javascript'></script>