<a href="#main">Skip to content</a>
<nav>
    <ul>
        <li><a class='current' href='/'>Home</a></li>
        <li><a href='projects'>Projects</a></li>
        <li><a href='#'>Contact</a></li>
    </ul>
</nav>

{{> header splash=true title="Bas Kager" subtitle="Full-stack software engineer"}}

<main class="row center" id="main">
    <h2>Sleep, coffee, code, repeat</h2>
    <div class="row flex center introduction">
        <img src='https://topmops.net/wp-content/uploads/2017/01/avatar-placeholder-generic.jpg'>
        <p>
            My name is Bas Kager and I'm a full-stack software engineer. Born, raised and educated in Leiden, The Netherlands.
        </p>
    </div>
    <h2>My skills</h2>
    <div class="row flex center introduction">
        <img src='https://topmops.net/wp-content/uploads/2017/01/avatar-placeholder-generic.jpg'>
        <p>
            My name is Bas Kager and I'm a full-stack software engineer. Born, raised and educated in Leiden, The Netherlands.
        </p>
    </div>
</main>