{{> nav currentPage=pageName}} {{> header-home }}
<main>
    <div class='about container flex'>
        <section class='story'>
            <h2>About me</h2>
            <p>
                I have almost a decade of coding and design experience as I've been interested in technology since I was a little boy.
                <br>
                <br> I believe that the great power of software is transforming complex ideas and mechanics into something
                useable and recognisable.
            </p>
        </section>

        {{> skill-chart title="My skills"}}
    </div>
</main>{{> footer }}