{{> nav currentPage=pageName}} {{> header-home }}
<main>
    {{!-- {{> featured title="Project Exclusive Design" href ="/projects/design/redesign-minor" award="Winner of the Golden Dot
    Award for responsible design" projectSLug="redesign-minor" img="/static/img/minor-site-screencap-big3.png" }} --}}
    <div class='about container flex'>
        <section class='story'>
            <h2>About me</h2>
            <p>
                I have almost a decade of coding and design experience as I've been interested in technology since I was a little boy.
                <br>
                <br> I believe that the great power of software is transforming complex ideas and mechanics into something
                useable and recognisable.
            </p>
        </section>

        {{> skill-chart title="My skills"}} {{!--
        <ul class="center flex skill-row container">
            {{> skill-card title="programming projects" categorySlug="programming" }} {{> skill-card title="design projects" categorySlug="design"
            }} {{> skill-card title="database projects" categorySlug="database" }}
        </ul> --}}
    </div>
    {{!--
    <div class='flex cta-box recessed'>
        <a class='btn' href='portfolio'>All projects</a>
    </div> --}}
</main>{{> footer }}