{{> nav currentPage=pageName}} {{> header }}
<main>
    <section class='skills'>
        <h2>My work</h2>

        <ul class="center flex skill-row container">
            {{> skill-card title="programming projects" categorySlug="programming" }} {{> skill-card title="design projects" categorySlug="design"
            }} {{> skill-card title="database projects" categorySlug="database" }}
        </ul>
    </section>
    <div class='flex cta-box'>
        <a class='btn' href='projects'>All projects</a>
    </div>
</main>
<script type="text/javascript" src="static/js/lib/routie.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>