{{> nav currentPage=pageName}} {{> header-small title=title summary="Nanotechnology immersion along the information highway
will close the loop on focusing solely on the bottom line." }}
<main>
    <div class='projectListContent' id='projectListContent'>
        {{!--
        <blockquote class='fancy'></blockquote> --}}
        <section class="filters flex">
            <input type="search" id="search" placeholder="search for projects" aria-placeholder="search for projects" />
            <div class="container">
                {{!--
                <h3>Filters</h3> --}}
                <div class='flex cta-box'>
                    <a class='btn eq' href='/portfolio/programming'>programming</a>
                    <a class='btn eq' href='/portfolio/design'>design</a>
                    <a class='btn eq' href='/portfolio/database'>database</a>
                    <a class='btn eq' href='/portfolio'>all projects</a>
                </div>
            </div>
        </section>
        <ul class="center container flex project-list">
            {{#each categories}} {{#each projects}} {{> thumbnail id=slug categorySlug=categoryUrlSlug url=url title=name description=shortDescription
            img=thumbnailUri }} {{/each}} {{else}}
            <p class="empty">No content</p>
            {{/each}}
        </ul>
    </div>
    <script src='/static/js/search.js' type='text/javascript'></script>
</main> {{> footer }}