{{> nav currentPage=pageName}} {{> header-project title="Exclusive Design" img="/static/img/minor-site-screencap-big3.png"
summary="The final qualifying project of the minor Web Development at The University of Applied Sciences Amsterdam. Won the
2018 Golden Dot Award for Responsible Design for its accessibility experiments." }}
<main>
    <div class='projectDetail container'>
        <div class='flex cta-box small'>
            <a class='btn eq' href='https://redesign-minor.kager.io'>live demo</a>
            <a class='btn eq' href='https://github.com/baskager/redesign-minor-web-dev'>github repository</a>
        </div>

        {{!--
        <blockquote></blockquote> --}}
        <section class='process'>
            <article id='process'></article>
        </section>
        <div class="flex split">
            <section class='project-img'>
                <img src="/static/img/minor-site-screencap-complete.png" alt="" />
            </section>
            <section class='project-skills'>
                <h2>The mission</h2>
                <p>
                    How can we design a website in such a way that it is pleasurable for people who need accessbibility features, without changing
                    the experience.
                </p>
                <h2>Acquired skills</h2>
                <ul id="tags" class='tags'>
                    <li>Accessibility</li>
                    <li>Front-end design process</li>
                    <li>Making styleguides</li>
                </ul>
            </section>
        </div>

        <section class='suggestion'>
            <a class='btn' href='/portfolio'>Show more projects</a>
        </section>
    </div>
</main>
{{>footer}}