<div id='projectDetail' class='projectDetail'>
    <H2></H2>
    <img src=''>
    <a href='#' target='_blank' id='demoUri' class='btn demo'>Live Demo</a>
    <a href='#' target='_blank' id='repoUri' class='btn demo'>Github</a>

    {{!--
    <blockquote></blockquote> --}}
    <section class='process'>
        <article id='process'></article>
    </section>

    <section class='skills'>
        <h3>Acquired skills</h3>
        <ul id="tags" class='tags'>
            <li>Javascript</li>
            <li>Facial recognition</li>
            <li>API</li>
        </ul>
    </section>

    <section class='suggestion'>
        <h3>Want some more?</h3>
        <a class='btn' href=''></a>
    </section>
</div>