<a href="#main">Skip to content</a>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="current" href="projects">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<section class="filters">
    <form class="row center" action="">
        {{!-- <label for="search">Search</label> --}}
        <input id="search" type="search" placeholder="search, for example: Javascript">
        {{!-- <button>Search</button> --}}
        {{!-- <fieldset>
            <input type="checkbox" id="tag-check-js" value="js">
            <label for="tag-check-js">Javascript</label>

            <input type="checkbox" id="tag-check-api" value="api">
            <label for="tag-check-js">API</label>
            
            <input type="checkbox" id="tag-check-design" value="design">
            <label for="tag-check-design">Design</label>
        </fieldset>  --}}
    </form>
</section>
<main class="center" id="main">  
    <ul class="center flex thumbnail-row">
        {{> thumbnail 
        img="https://camo.githubusercontent.com/452b4bfbfc46fdf719e63f1a592ab01173c0a289/687474703a2f2f7777772e6b616765722e696f2f75706c6f6164732f6164722d6f766572766965772e706e67"
        title="ADRmeta"
        description="Facial similarity in portraits"
        }}

        {{> thumbnail 
        img="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/1024px-JavaScript-logo.png"
        title="Js-api-connect"
        description="ES6 library for easy API handlings"
        }}
    </ul>

    {{!-- <ul class="center flex thumbnail-row">
        {{> thumbnail 
        img=""
        title="Some project"
        description="Some Description"
        }}

        {{> thumbnail 
        img=""
        title="Another project"
        description="Another description"
        }}
    </ul> --}}
</main>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script type="text/javascript" src="static/js/search.js"></script>