{{> nav currentPage=pageName}} {{> header-small title=title }}
<main>
    <div class='projectListContent' id='projectListContent'>
        <section class="filters flex">
            <input type="search" id="search" placeholder="search for projects" aria-placeholder="search for projects" />
            <div class="container">
                <div class='flex cta-box'>
                    {{#each categories}} 
                    <a class='btn cta eq' href='/portfolio/{{slug}}'>{{name}}</a>
                    {{/each}}
                    <a class='btn cta eq' href='/portfolio'>All projects</a>
                </div>
            </div>
        </section>
        {{#if subtitle}}
        <h3 class="subtitle">{{subtitle}}</h3>
        {{/if}}
        <ul class="center container flex project-list">
            {{#each projects}} 
                {{> thumbnail id=slug slug=slug categorySlug=relations.category.slug title=name description=shortDescription img=thumbnailImage }} 
            {{else}}
                <p class="empty">No content</p>
            {{/each}}
        </ul>
    </div>
    <script src='/static/js/search.js' type='text/javascript'></script>
</main> {{> footer }}