<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ff4d61" />

    <meta name="description" content="Software Engineering student in Leiden, The Netherlands." />
    <meta property="og:url" content="http://kager.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Bas Kager" />
    <meta property="og:description" content="Software Engineering student in Leiden, The Netherlands." />
    <meta property="og:image" content="http://kager.io/static/img/baskager-small.jpg" />
    <meta property="place:location:latitude" content="52.1449619" />
    <meta property="place:location:longitude" content="4.4919024" />

    <link rel="preload" href="/static/css/main.css" as="style">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preload" href="/static/js/app.js" as="script">
    <link rel="manifest" href="/manifest.json">
    <title>Bas Kager, full-stack software engineer</title>
</head>

<body>
    {{{body}}}
    <script src='/static/js/app.js' type='text/javascript'></script>
</body>

</html>